# Tweets with Geo Location

To get user profile location -> have to search by city (most exact if by geo location)

Searching for any tweet containing:

- climate change
- global warming

Excluding:

- replies
- retweets

Using snscraper: https://github.com/MartinBeckUT/TwitterScraper/tree/master/snscrape/python-wrapper

Search options: https://github.com/igorbrigadir/twitter-advanced-search

In [1]:
#Importing other libraries
import pandas as pd
import numpy as np
import snscrape.modules.twitter as sntwitter
import itertools
import time

In [2]:
#20 largest US cities
city_lst = ['Los Angeles', 'New York', 'Chicago', 'Houston', 'Philadelphia', 'Phoenix', 'San Antonio', 'San Diego', 'Dallas', 
           'San Jose', 'Honolulu', 'Austin', 'Indianapolis', 'Jacksonville', 'San Francisco', 'Columbus', 'Charlotte', 'Fort Worth', 
            'Detroit', 'El Paso']

coord_lst = ['34.052235, -118.243683, 15km', '40.6643, -73.9385, 15km', '41.8379,  -87.6828, 15km', '29.749907, -95.358421, 15km', 
      '39.952583, -75.165222, 15km', '33.448376, -112.074036, 15km', '29.424349, -98.491142, 15km', 
       '32.715736, -117.161087,15km', '32.779167, -96.808891, 15km', '37.335480, -121.893028, 15km', '21.315603, -157.858093, 15km',
      '30.266666, -97.733330, 15km', '39.791000, -86.148003, 15km', '30.332184, -81.655647, 15km', '37.773972, -122.431297, 15km',
      '39.983334, -82.983330, 15km', '35.227085, -80.843124, 15km', '32.768799, -97.309341, 15km', '42.331429, -83.045753, 15km',
      '31.772543, -106.460953, 15km']

In [3]:
#starting dataframe

loc = '34.052235, -118.243683, 10km'
df = pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper(
    '(climate change) OR (global warming) exclude:replies exclude:retweets lang:en geocode:"{}"'.format(loc)).get_items(), 1))[['id', 'user', 'date','content']]

df['user_location'] =  df['user'].apply(lambda x: x['location'])
df['user_city'] = 'Los Angeles'

In [4]:
df

,id,user,date,content,user_location,user_city
0,1394673778492379144,"{'username': 'InsidePhilanthr', 'displayname':...",2021-05-18 15:18:35+00:00,After years of its community being upended by ...,"Los Angeles, CA",Los Angeles

In [5]:
#getting 800 tweets for every city:
for city, city_name in zip(coord_lst, city_lst):
    print('Starting iteration for:', city_name)
    mx = '1394673778492379144' #id from df
    df1 = pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper(
            '(climate change) OR (global warming) exclude:replies exclude:retweets lang:en geocode:"{}" max_id:"{}"'.format(city, mx)).get_items(), 900))[['id', 'user', 'date','content']]
    df1['user_location'] =  df1['user'].apply(lambda x: x['location'])
    df1['user_city'] = city_name
    df1 = df1.iloc[1:]
    df = df.append(df1, ignore_index=True)
    #mx = df1['id'].iloc[-1]
    print('Done city:', city_name)
    time.sleep(180)

Starting iteration for: Los Angeles
Done city: Los Angeles
Starting iteration for: New York
Done city: New York
Starting iteration for: Chicago
Done city: Chicago
Starting iteration for: Houston
Done city: Houston
Starting iteration for: Philadelphia
Done city: Philadelphia
Starting iteration for: Phoenix
Done city: Phoenix
Starting iteration for: San Antonio
Done city: San Antonio
Starting iteration for: San Diego
Done city: San Diego
Starting iteration for: Dallas
Done city: Dallas
Starting iteration for: San Jose
Done city: San Jose
Starting iteration for: Honolulu
Done city: Honolulu
Starting iteration for: Austin
Done city: Austin
Starting iteration for: Indianapolis
Done city: Indianapolis
Starting iteration for: Jacksonville
Done city: Jacksonville
Starting iteration for: San Francisco
Done city: San Francisco
Starting iteration for: Columbus
Done city: Columbus
Starting iteration for: Charlotte
Done city: Charlotte
Starting iteration for: Fort Worth
Done city: Fort Worth
Starting iteration for: Detroit
Done city: Detroit
Starting iteration for: El Paso
Done city: El Paso

In [10]:
df = df.sort_values('date', ascending=False).reset_index().reindex(df.columns, axis=1)

,id,user,date,content,user_location,user_city
0,1394673778492379144,"{'username': 'InsidePhilanthr', 'displayname':...",2021-05-18 15:18:35+00:00,After years of its community being upended by ...,"Los Angeles, CA",Los Angeles
900,1394673502834335750,"{'username': 'gpolicywatch', 'displayname': 'G...",2021-05-18 15:17:29+00:00,"In @UNECOSOC OAS, @AOSISChair highlights ""#SID...","New York, USA",New York
1,1394673249200459780,"{'username': 'Davelai11', 'displayname': 'Dave...",2021-05-18 15:16:29+00:00,Will God be awarded a Rolex to save us for coo...,"Los Angeles, CA",Los Angeles
901,1394672995206156292,"{'username': 'gridpointwx', 'displayname': 'Gr...",2021-05-18 15:15:28+00:00,#CLIMATE Changes Impact On #HURRICANE Sandy Ha...,"New York, USA",New York
902,1394672753828110339,"{'username': 'bioengineerorg', 'displayname': ...",2021-05-18 15:14:30+00:00,Turn problems into opportunities: Photorespira...,"New York, USA",New York
...,...,...,...,...,...,...
8523,32620965917626368,"{'username': 'BluePlanetFound', 'displayname':...",2011-02-02 02:06:59+00:00,http://tinyurl.com/SB722: Amended HI barrel ta...,"Honolulu, Hawaii",Honolulu
11344,11541725591896064,"{'username': 'mlopreste', 'displayname': 'Mike...",2010-12-05 22:05:36+00:00,writing about climate change. everytime i read...,,Columbus
8524,2963355933343745,"{'username': '96822', 'displayname': '96822', ...",2010-11-12 05:58:13+00:00,New Study: Global Warming Changes Hurricanes h...,96822,Honolulu
8525,27928352168,"{'username': '96826', 'displayname': '96826', ...",2010-10-20 12:57:53+00:00,"Climate change could change El Nino, campaigns...",96826,Honolulu
8526,27913797907,"{'username': '96814', 'displayname': '96814', ...",2010-10-20 08:56:37+00:00,"Climate change could change El Nino, campaigns...",96814,Honolulu

In [7]:
df['user_city'].value_counts()

Los Angeles      900
Philadelphia     899
San Diego        899
Chicago          899
San Francisco    899
Austin           899
Phoenix          899
New York         899
Houston          860
Dallas           708
San Jose         662
Columbus         623
Detroit          512
Honolulu         480
San Antonio      422
Charlotte        353
Indianapolis     336
Fort Worth       265
El Paso          130
Jacksonville      61
Name: user_city, dtype: int64

In [11]:
#Saving data set
#df.to_csv('../Data/tweets_geo.csv')