In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df1 = pd.read_csv('df_secondscrap_hashtags.csv', index_col = 0)

In [12]:
df1.head(5)

,id,date,content,coordinates,place,user
0,1393835446237552640,2021-05-16 07:47:21+00:00,2/2 it also runs on brand new tech called POA ...,NaN,NaN,"{'username': 'jasric89', 'displayname': 'Jason..."
1,1393835391271251971,2021-05-16 07:47:08+00:00,The food we eat is important. The people who m...,NaN,NaN,"{'username': 'TatendaMurigo', 'displayname': '..."
2,1393835307733327880,2021-05-16 07:46:48+00:00,To make #Trash and #Wastefree #Pakistan i have...,NaN,NaN,"{'username': 'JunaidAjmal023', 'displayname': ..."
3,1393835290700259335,2021-05-16 07:46:44+00:00,Research can enable us to address pressing iss...,NaN,NaN,"{'username': 'TatendaMurigo', 'displayname': '..."
4,1393835274694709248,2021-05-16 07:46:40+00:00,To hold #BorisJohnson to account for lack lust...,NaN,NaN,"{'username': 'consofpolitics', 'displayname': ..."

In [15]:
df2 = pd.read_csv('first_test_file.csv', index_col = 0)

In [16]:
df2.head(5)

,id,date,content,coordinates,place,user
0,1393679594302148611,2021-05-15 21:28:03+00:00,"I bet this is wonderful for climate change, De...",NaN,NaN,"{'username': 'deplorable111', 'displayname': '..."
1,1393677213619290112,2021-05-15 21:18:35+00:00,Tell your elected officials that shit is going...,NaN,NaN,"{'username': 'amy2ree', 'displayname': 'Humans..."
2,1393675054362337281,2021-05-15 21:10:00+00:00,Trump rejects science on climate change and ex...,NaN,NaN,"{'username': 'bernie_ebook', 'displayname': 'B..."
3,1393669989308248071,2021-05-15 20:49:53+00:00,@GaelicRoadSign It goes beyond that.\nPro Unio...,NaN,NaN,"{'username': 'RBadjin', 'displayname': 'Rank_B..."
4,1393667705081933828,2021-05-15 20:40:48+00:00,@leftist_logical @XanderXjork Billion dollar c...,NaN,NaN,"{'username': 'WillHar97229875', 'displayname':..."

In [17]:
df = pd.concat([df1, df2]).drop_duplicates('id').reset_index(drop=True)

In [18]:
df

,id,date,content,coordinates,place,user
0,1393835446237552640,2021-05-16 07:47:21+00:00,2/2 it also runs on brand new tech called POA ...,NaN,NaN,"{'username': 'jasric89', 'displayname': 'Jason..."
1,1393835391271251971,2021-05-16 07:47:08+00:00,The food we eat is important. The people who m...,NaN,NaN,"{'username': 'TatendaMurigo', 'displayname': '..."
2,1393835307733327880,2021-05-16 07:46:48+00:00,To make #Trash and #Wastefree #Pakistan i have...,NaN,NaN,"{'username': 'JunaidAjmal023', 'displayname': ..."
3,1393835290700259335,2021-05-16 07:46:44+00:00,Research can enable us to address pressing iss...,NaN,NaN,"{'username': 'TatendaMurigo', 'displayname': '..."
4,1393835274694709248,2021-05-16 07:46:40+00:00,To hold #BorisJohnson to account for lack lust...,NaN,NaN,"{'username': 'consofpolitics', 'displayname': ..."
...,...,...,...,...,...,...
18003,1363713044786925568,2021-02-22 04:51:41+00:00,@Justlove3332 @AshleyPerry42 Young generations...,NaN,NaN,"{'username': 'wrascallywabbit', 'displayname':..."
18004,1363711683718504449,2021-02-22 04:46:16+00:00,@Tennessee_Mojo @barnes_law And Trump IS worri...,NaN,NaN,"{'username': 'kellyksmith', 'displayname': 'Ke..."
18005,1363702842138238986,2021-02-22 04:11:08+00:00,@FoxNews @NYGovCuomo Hey FOX? What isn’t a hoa...,NaN,NaN,"{'username': 'JimVigars', 'displayname': 'Dr.J..."
18006,1363701184930873345,2021-02-22 04:04:33+00:00,@NeverStopLear13 @mcardone82 @WolferusYT @Dewa...,NaN,NaN,"{'username': '_doubtfull', 'displayname': ""Cap..."
18007,1363701164957700097,2021-02-22 04:04:28+00:00,@JacobBrunswick @jahneilyweily @KamVTV @CBSNew...,NaN,NaN,"{'username': 'realdfk', 'displayname': 'Dfk', ..."

In [19]:
print(len(df1))
print(len(df2))

9041
8974

In [21]:
df.isna().sum()

id                 0
date               0
content            0
coordinates    17662
place          17663
user               0
dtype: int64

In [ ]:
'''
df consists of tweets with:
climate OR climate change OR global warming OR environment OR climate action OR climate hoax OR climate trump lang:en
#climate OR #climatechange OR #globalwarming OR #environment OR #climateaction OR #climatehoax lang:en
'''

In [22]:
df

,id,date,content,coordinates,place,user
0,1393835446237552640,2021-05-16 07:47:21+00:00,2/2 it also runs on brand new tech called POA ...,NaN,NaN,"{'username': 'jasric89', 'displayname': 'Jason..."
1,1393835391271251971,2021-05-16 07:47:08+00:00,The food we eat is important. The people who m...,NaN,NaN,"{'username': 'TatendaMurigo', 'displayname': '..."
2,1393835307733327880,2021-05-16 07:46:48+00:00,To make #Trash and #Wastefree #Pakistan i have...,NaN,NaN,"{'username': 'JunaidAjmal023', 'displayname': ..."
3,1393835290700259335,2021-05-16 07:46:44+00:00,Research can enable us to address pressing iss...,NaN,NaN,"{'username': 'TatendaMurigo', 'displayname': '..."
4,1393835274694709248,2021-05-16 07:46:40+00:00,To hold #BorisJohnson to account for lack lust...,NaN,NaN,"{'username': 'consofpolitics', 'displayname': ..."
...,...,...,...,...,...,...
18003,1363713044786925568,2021-02-22 04:51:41+00:00,@Justlove3332 @AshleyPerry42 Young generations...,NaN,NaN,"{'username': 'wrascallywabbit', 'displayname':..."
18004,1363711683718504449,2021-02-22 04:46:16+00:00,@Tennessee_Mojo @barnes_law And Trump IS worri...,NaN,NaN,"{'username': 'kellyksmith', 'displayname': 'Ke..."
18005,1363702842138238986,2021-02-22 04:11:08+00:00,@FoxNews @NYGovCuomo Hey FOX? What isn’t a hoa...,NaN,NaN,"{'username': 'JimVigars', 'displayname': 'Dr.J..."
18006,1363701184930873345,2021-02-22 04:04:33+00:00,@NeverStopLear13 @mcardone82 @WolferusYT @Dewa...,NaN,NaN,"{'username': '_doubtfull', 'displayname': ""Cap..."
18007,1363701164957700097,2021-02-22 04:04:28+00:00,@JacobBrunswick @jahneilyweily @KamVTV @CBSNew...,NaN,NaN,"{'username': 'realdfk', 'displayname': 'Dfk', ..."